html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (hover: hover) and (pointer: fine) {
  * {
    cursor: none !important;
  }
}
